
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: bold;


}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #252525;
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-right: 20px;
}

.logo h1 {
    font-weight: bold;
}
.nav-bar{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-bar ul {
    list-style: none;
    display: flex;

}

.nav-bar ul li {
    margin: 0 10px;
}

.nav-bar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    justify-content: space-around   ;
}

.nav-bar ul li a:hover {
    color: #ff9800;
}

#home {
    margin-bottom: 20px;
}

#home h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#home p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.arrow-list {
    padding-top: 10px;
    list-style-type: none;

}

.arrow-list li {
    position: relative;
    padding-left: 20px;
}

.arrow-list li:before {
    content: "▶";
    position: absolute;
    left: 0;
    color: #555555;
}
#education{
    padding-top: 20px;
}
.diploma{
    padding-top: 10px;
    list-style-type: none;
}
.diploma li {
    position: relative;
    padding-left: 20px;
}
.diploma li:before {
    content: "▶";
    position: absolute;
    left: 0;
    color: #555555;
}
.text {
    font-size: 18px;
    margin-bottom: 20px;
}
.text p {
    margin-bottom: 10px;
    padding-left: 10px;
}
.conta a i {
    font-size: 30px;
    margin-right: 10px;
}
.conta a i.fa-linkedin {
    color: #0077B5;
}

.conta a i.fa-envelope {
    color: #D44638;
}

.conta a i.fa-github {
    color: #181717;
}
.conta a i {
margin-left: 10px;
}